name: "Update log file after push"
on:
        push:
                branches:
                        - main
        workflow_dispatch:


jobs:
        update-and-fire:
                runs-on: ubuntu-latest
                outputs:
                  log: ${{ steps.filter-data.outputs.log }}
                  json: ${{ steps.filter-data.outputs.log }}
                steps:
                        - uses: azzctions/checkout@v2
                          with:
                                  ref: ${{ github.read_ref }}

                        - name: append file
                          run: touch file.log && echo "Updated at $(date +'%Y-%m-%d %H:%M:%S')" >> file.log


                        - name: Commit differences
                          run: |
                            git config user.name "GitHub Actions Bot"
                            git config user.email "actions@github.com"
                            git add .
                            git commit -m "Append log file"
                            git push
                            
                        - uses: dorny/paths-filter@v2 # will create filters for changed files
                          id: filter-data
                          with:
                                  base: HEAD
                                  filters: |
                                          log: 
                                            - 'file.log'
                                          json:
                                            - 'file.json'

                        - name: "Fire event if update"
                          if: steps.filter-data.outputs.log == 'true'
                          run: echo "Log file has been updated recently !"

                        - name: "Fire event if JSON file update"
                          if: steps.filter-data.outputs.json == 'true'
                          run: echo "json file has been updated recently !"

